{% block style %}
<style>
  #pendiente-bg{
    display: none;
    background-color: #00000088;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2rem calc((100vw - var(--page-width) - 0.5rem) / 2);
  }

  #pendiente-modal{
    background-color: #ffffff;
    padding: 1rem 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 10px 1px #000000aa;
  }

  #pendientes-form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 99;
  }

  #pendientes-form button{
    height: 43px;
  }

  .input-group:first-of-type{
    flex: 1;
  }

  #close-btn{
    width: 35px;
    height: 35px;
    margin-left: calc(100% - 35px);
  }

  #pendientes-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-right: 0.5rem;
    overflow-y: scroll;
    max-height: 27rem;
  }

  .pendientes-item{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--disabled);
    border-left: 5px solid var(--primary);
    border-radius: 0rem 0.25rem 0.25rem 0rem;
  }

  .completed{
    background-color: var(--light);
    filter: brightness(0.95);

    text-decoration: line-through;
  }
</style>
{% endblock %}

<div id="pendiente-bg">
  <div id="pendiente-modal">
    <a id="modal-exit" href="#" class="sm-link">&larr; Volver a proyecto</a>
    <h2>Agregar pendiente</h2>
    <form id="pendientes-form">
      <div class='input-group'>
        <label>
          Descripción
        </label> 
        <input id="pendiente-desc" type="text" required>
      </div>
      <div class='input-group'>
        <label>
          Prioridad
        </label> 
        <select id="pendiente-priority" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
     <button class='btn' type="submit">Agregar</button>
    </form>

    <hr>

    <h2>Pendientes</h2>
    <section id="pendientes-wrapper">
    </section>
  </div>
</div>

{% block script %}
<script>
  let pendientesArray = [];
  const $pendientes = document.querySelector('#pendientes-wrapper');

  const getPendientes = async() => {
    $pendientes.innerText = 'Loading...'
    try{
      const url = `${Flask.url_for('proyectos')}/${window.compartido.proyectoid}/pendientes`;
      let res = await fetch(url)
      let data = await res.json();
      pendientesArray = [...data];
      updatePendientes();
    }
    catch(err){
      $pendientes.innerText = err.error;
      console.error(err);
    }
  }

  const addPendiente = async({desc, priority}) => {
    try{
      const url = `${Flask.url_for('proyectos')}/${window.compartido.proyectoid}/pendientes/`;
      let res = await fetch(url, {
        method: 'POST',
        body: JSON.stringify({desc, priority})
      })
      let data = await res.json();
      pendientesArray = [...pendientesArray, data];
      updatePendientes();
    }
    catch(err){
      $pendientes.innerText = err.error;
      console.error(err);
    }
  }

  const togglePendiente = async(pendienteid) => {
    try{
      const url = `${Flask.url_for('proyectos')}/${window.compartido.proyectoid}/pendientes/${pendienteid}`;
      let res = await fetch(url, {
        method: 'PATCH',
      })
      let data = await res.json();
      let indx = pendientesArray.findIndex((pendiente)=> pendiente.id == pendienteid)
      pendientesArray[indx].completed = !pendientesArray[indx].completed;
      updatePendientes();
    }
    catch(err){
      $pendientes.innerText = err.error;
      console.error(err);
    }
  }

  const updatePendientes = () => {
    $pendientes.innerHTML = pendientesArray.length > 0 
    ? pendientesArray
    .sort((a, b) => a.priority > b.priority? 1: -1)
    .sort((a, b) => a.completed? 1: -1)
    .map(pendiente => `
      <article class="pendientes-item ${pendiente.completed? "completed": ''}">
        <div>
          <p>${pendiente.desc}</p>
          <p><strong>Priority:</strong> ${pendiente.priority}</p>
        </div>
        <div>
          <input type="checkbox" ${pendiente.completed? "checked": null} onchange="togglePendiente(${pendiente.id})">
        </div>
      </article>
    `).join('') : 'No hay pendientes aun.'
  }

  // CODIGO MODAL
  let modalActive = false;
  let modalBtn = document.querySelector("#modal-exit");
  let modalBG = document.querySelector("#pendiente-bg");
  const toggleModal = () => {
    modalActive = !modalActive;
    modalBG.style.display = modalActive? 'initial' : 'none';
    if(modalActive){
      getPendientes();
    }
  }
  modalBtn.addEventListener('click', toggleModal);
  window.compartido = {...window.compartido, toggleModal}

  // CODIGO PROYECTO FORM
  const $pendiente_desc = document.querySelector('#pendiente-desc')
  const $pendiente_priority = document.querySelector('#pendiente-priority')

  document.querySelector('#pendientes-form').addEventListener('submit', e => {
    e.preventDefault();
    let desc = $pendiente_desc.value;
    let priority = $pendiente_priority.value;
    addPendiente({desc, priority})
    //Clear form
    e.target.reset()
  })

</script>
{% endblock %}