<form id='proyecto-form'>
  <div class='input-group'> 
    <label>
      Titulo
    </label>
    <input id="proyecto-title" type="text" required>
  </div>
  <div class='input-group'>
    <label>
      Description
    </label> 
    <textarea id="proyecto-desc" rows="5" required></textarea>
  </div>
  
  <button class='btn' type="submit">Agregar un proyecto</button>
</form>


{% block script %}
  <script>
    const $title = document.querySelector('#proyecto-title')
    const $desc = document.querySelector('#proyecto-desc')

    document.querySelector('#proyecto-form').addEventListener('submit', e => {
      e.preventDefault();
      let title = $title.value;
      let desc = $desc.value;
      window.proyectos.addProyecto({title, desc})
    })
  </script>
{% endblock %}